{% extends 'base.html' %}
{% block title %}Profile Page{% endblock title %}
{% block body %}
<section id="portfolio" class="portfolio">
    <div class="container">
<h1>No tokens yet</h1>

        <h3>sorry you don't have any tokens yet in your account. Please buy something to get tokens as a reward.</h3><br>
        <h3>You will get 1 token per 200 rs spend</h3><br>
        <h3>from these tokens you can redeem exciting gifts.</h3><br>
        <h1>So hurry Up.!!!!</h1><br>



    </div>
</section>
{% endblock body %}