{% extends 'base.html' %}
{% load custom_template_tags %}
{% block title %}Tokens Page{% endblock title %}
{% block content %}

<h1>SEE YOUR TOKENS HISTORY HERE. </h1>

{% endblock content %}
{% block body %}

<!-- <section id="portfolio" class="portfolio">

      <div class="section-title">
        <h2>Welcome to Shop</h2>
        <h3>Check our <span>Products</span></h3>
      </div>
   -->


<section id="portfolio" class="portfolio">
    <div class="container">
<h2>Token history</h2>
<br><br><br>
<h3>total tokens you currently have are <button class="btn btn-warning"> {{total_tokens}}</button>. Buy something to get more tokens as a reward.</h3>
<br><br><br>
<table class="table table-info table-striped">
    <thead>
      <tr><th scope="col">Order ID</th>
        <!-- 
        <th scope="col">Name</th>
        <th scope="col">Products</th>
        <th scope="col">Amount Paid</th>
        <th scope="col">Payment Status</th>
        <th scope="col">Address</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Delivery Status</th>
        <th scope="col">Delivered</th> -->
        <th scope="col">tokens</th>
        <th scope="col">Transaction ID</th>
      </tr>
    </thead>
    <tbody>
        {%with current=0%}
        {%with previous=0%}
        {% for i  in items %}

        <tr>
            <th scope="row">{{forloop.counter}} </th>
            <!-- <td> {{i.name}}</td>
            <td>{{i.items_json}} </td>
            <td>{{i.amount}} </td>
            <td> {{i.paymentstatus}}</td>
            <td> {{i.address1}}</td> -->
            {%if previous%}
                
            <td>you {{i.tokens |sub:previous}} tokens</td>
                
            {%setvar i.tokens as previous%}
            {%else%}
             <td> you got {{i.tokens}} tokens</td>
             {%setvar i.tokens as previous%}
            {%endif%}
            <td>{{i.hash}} </td>
          
        
        {% endfor %}
        {%endwith%}
        {%endwith%}



    </tbody>
</table>
    </div>
</section>
{% endblock body %}